html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.containerDiv {
  position: absolute;
  width: 100%;
  height: 100%;
}

#sceneviewDiv {
  width: 30vw;
  height: 30vw;
  right: 0;
}

#title {
  font-size: 14pt;
  font-weight: 500;
}

.legend {
  background-color: whitesmoke;
  color: darkslategray;
}
