html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.containerDiv {
  float: right;
  width: 50%;
  height: 100%;
}

#title {
  font-size: 14pt;
  font-weight: 500;
}

.legend {
  background-color: whitesmoke;
  color: darkslategray;
}
